---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/data_sources
    body:
      encoding: UTF-8
      string: "{\"parent\":{\"database_id\":\"6a91c56ebc5e46699e34952e09ec53c0\"},\"title\":[{\"text\":{\"content\":\"Orbit \U0001F49C Notion\"}}],\"properties\":{\"Name\":{\"title\":{}}}}"
    headers:
      Authorization:
      - Bearer <NOTION_API_TOKEN>
      Notion-Version:
      - '2025-09-03'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"object\":\"data_source\",\"id\":\"6a91c56e-bc5e-4669-9e34-952e09ec53c0\",\"created_time\":\"2025-09-03T17:48:00.000Z\",\"last_edited_time\":\"2025-09-03T17:48:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Orbit \U0001F49C Notion\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Orbit \U0001F49C Notion\",\"href\":null}],\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"6a91c56e-bc5e-4669-9e34-952e09ec53c0\"}}"
  recorded_at: Wed, 03 Sep 2025 17:48:00 GMT
recorded_with: VCR 6.0.0
