---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/data_sources/6a91c56ebc5e46699e34952e09ec53c0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_API_TOKEN>
      Notion-Version:
      - '2025-09-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"object\":\"data_source\",\"id\":\"6a91c56e-bc5e-4669-9e34-952e09ec53c0\",\"created_time\":\"2021-04-30T07:49:00.000Z\",\"last_edited_time\":\"2021-08-29T17:48:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Orbit \U0001F49C Notion\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Orbit \U0001F49C Notion\",\"href\":null}],\"properties\":{\"Orbit Status\":{\"id\":\"%3DadK\",\"name\":\"Orbit Status\",\"type\":\"rich_text\",\"rich_text\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"dd428e9d-d3fe-4171-870d-a7a1902c748b\"}}"
  recorded_at: Wed, 03 Sep 2025 17:48:03 GMT
recorded_with: VCR 6.0.0
